body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('images/ring.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: red;
  font-size: 50px;
  font-family: 'Righteous', cursive;
}
h2 {
  color: red;
  font-size: 40px;
  font-family: 'Righteous', cursive;
}
p {
  color: red;
  font-size: 40px;
  font-family: 'Righteous', cursive;
}

.App {
  padding-top: 50px;
  position: relative;
  text-align: center;
  color: red;
  font-size: 40px;
  font-family: 'Righteous', cursive;
}
#battle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
#left {
  text-align: center;
}
#centre {
  text-align: center;
}

#right { 
  text-align: center;
}

button {
  background-color: gold;
  color: red;
  font-size: 40px;
  font-family: 'Righteous', cursive;
  border-radius: 5px;
}